@import "vars"
@import "fonts"
@import "smart-grid"

+reset

::placeholder
  color: #666

::selection
  background-color: $accent
  color: #fff

html
  font-size: 16px

body
  font-size: 16px
  font-weight: 400
  min-width: 320px
  position: relative
  font-family: $default_font
  overflow-x: hidden
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

b, strong
  font-weight: 700

.container
  +wrapper

@import "media"